### EDA-1 (Разведывательный анализ данных)
После просмотра документального фильма о сомелье вы захотели создать прогностическую модель для оценки вин вслепую, как это делает сомелье.

Определив бизнес-задачу, вы перешли к сбору данных для обучения модели. После нескольких недель парсинга сайта WineEnthusiast вам удалось собрать около 130 тысяч строк обзоров вин для анализа и обучения.

In [63]:
import pandas as pd

In [64]:
# Прочитаем датасет
data = pd.read_csv('data/wine.csv')

In [65]:
# выведем шапку
data.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

### Задание 4.1
Сколько всего дегустаторов приняло участие в винных обзорах?

In [66]:
# data.groupby(data['taster_name']).count().shape[0]
data['taster_name'].nunique()

19

### Задание 4.2
Какова максимальная цена за бутылку в этом наборе данных? Введите целое число.

In [67]:
data['price'].max()

3300.0

### Задание 5.3
Проанализируйте датасет на наличие дублирующихся винных обзоров. Если дублирующиеся записи есть, удалите их.
В поле ниже введите, сколько дублирующихся записей вам удалось обнаружить.

In [68]:
# найдем дубликаты
mask = data.duplicated()
wine_duplicates = data[mask]
print(f'Число найденных дубликатов: {wine_duplicates.shape[0]}')

# удалим дубликаты
data = data.drop_duplicates()
print(f'Результирующее число записей: {data.shape[0]}')

Число найденных дубликатов: 9983
Результирующее число записей: 119988

### Задание 5.4
Проверьте датасет на наличие пропусков в данных.
В каких из представленных признаках были обнаружены пропуски?

In [69]:
# выведем % пропусков по столбцам
round(data.isnull().mean(),2)*100

country                   0.0
description               0.0
designation              29.0
points                    0.0
price                     7.0
province                  0.0
region_1                 16.0
region_2                 61.0
taster_name              21.0
taster_twitter_handle    25.0
title                     0.0
variety                   0.0
winery                    0.0
dtype: float64

### Задание 5.5

Обработайте пропущенные значения в наборе данных любым известным вам способом, который вы изучили в модуле PYTHON-14. Очистка данных.

Воспользуйтесь правилами:

- Если какой-то из признаков имеет более 30-40 % пропусков, лучше избавьтесь от него: его заполнение может привести к сильному искажению общего распределения, а удаление записей — к большой утрате данных.
- Заполняйте данные с умом! Если перед вами количественный признак, то использование нецелого числа в качестве константы является как минимум нелогичным.
- Вы можете оставить пропуски как есть, просто заменив их на какой-то специальный символ. Например, для числовых неотрицательных признаков можно использовать число -1, а для категориальных — строку 'unknown'.

In [70]:
# отбрасываем столбцы с числом пропусков более 30% (100-70)
n = data.shape[0] #число строк в таблице
thresh = n*0.7
data = data.dropna(how='any', thresh=thresh, axis=1)
display(round(data.isnull().mean(),2)*100)
display(data.info())

country                   0.0
description               0.0
designation              29.0
points                    0.0
price                     7.0
province                  0.0
region_1                 16.0
taster_name              21.0
taster_twitter_handle    25.0
title                     0.0
variety                   0.0
winery                    0.0
dtype: float64

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119988 entries, 0 to 129970
Data columns (total 12 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   country                119929 non-null  object
 1   description            119988 non-null  object
 2   designation            85443 non-null   object
 3   points                 119988 non-null  int64
 4   price                  111593 non-null  float64
 5   province               119929 non-null  object
 6   region_1               100428 non-null  object
 7   taster_name            95071 non-null   object
 8   taster_twitter_handle  90542 non-null   object
 9   title                  119988 non-null  object
 10  variety                119987 non-null  object
 11  winery                 119988 non-null  object
dtypes: float64(1), int64(1), object(10)
memory usage: 11.9+ MB

None

In [71]:
#создаём словарь 'имя_столбца': число (признак), на который надо заменить пропуски 
values = {
    'designation': 'unknown',
    'price': data['price'].median(),
    'region_1': 'unknown',
    'taster_name': 'unknown',
    'taster_twitter_handle': 'unknown',
    'country': 'unknown',
    'variety': 'unknown',
    'province': 'unknown'
}
#заполняем оставшиеся записи константами в соответствии со словарем values
data = data.fillna(values)
#выводим результирующую долю пропусков
display(data.isnull().mean())
data.info()

country                  0.0
description              0.0
designation              0.0
points                   0.0
price                    0.0
province                 0.0
region_1                 0.0
taster_name              0.0
taster_twitter_handle    0.0
title                    0.0
variety                  0.0
winery                   0.0
dtype: float64

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119988 entries, 0 to 129970
Data columns (total 12 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   country                119988 non-null  object
 1   description            119988 non-null  object
 2   designation            119988 non-null  object
 3   points                 119988 non-null  int64
 4   price                  119988 non-null  float64
 5   province               119988 non-null  object
 6   region_1               119988 non-null  object
 7   taster_name            119988 non-null  object
 8   taster_twitter_handle  119988 non-null  object
 9   title                  119988 non-null  object
 10  variety                119988 non-null  object
 11  winery                 119988 non-null  object
dtypes: float64(1), int64(1), object(10)
memory usage: 11.9+ MB

In [72]:
# сохраняем очищенный датасет для дальнейшей работы
data = data.to_csv('data/wine_cleared.csv', index=False)