In [37]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

# Загрузка данных

In [38]:
%%capture
!wget https://www.dropbox.com/s/64ol9q9ssggz6f1/data_ford_price.xlsx

In [39]:
data = pd.read_excel('Data/data_ford_price.xlsx')

## Предобработка данных

In [40]:
data = data[['price', 'year', 'weather']]
data.dropna(inplace = True)

## Масштабирование

In [41]:
data_scaled = data.copy()
col_names = ['price', 'weather']
x = data_scaled[col_names]

In [42]:
scaler = StandardScaler()
 
data_scaled[col_names] = scaler.fit_transform(x.values)
data_scaled

         price  year   weather
0     2.558728  2016  0.862068
1     0.067373  2009 -0.017965
2    -1.072197  2002 -0.897998
3    -1.176990  2000 -0.395122
5    -0.677579  2003 -0.269403
...        ...   ...       ...
7012  0.682100  2015  0.862068
7013 -0.767025  2005 -0.269403
7014 -0.414149  2006  0.862068
7015 -0.335138  2011 -0.646560
7016  0.287482  2010 -0.269403

[6837 rows x 3 columns]

In [43]:
y = data_scaled['year']
x = data_scaled.drop(columns='year')

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=40)

In [44]:
model = LinearRegression()
model.fit(X_train, y_train)
y_predicted = model.predict(X_test)
 
mae = mean_absolute_error(y_test, y_predicted)
print('MAE: %.3f' % mae)

MAE: 3.041

###  Задание 5.2
Отмасштабируйте признак price с помощью RobustScaler.

В качестве ответа запишите результат выполнения кода data['price'][1]. Ответ округлите до двух знаков после точки-разделителя.

In [45]:
from sklearn.preprocessing import RobustScaler

In [46]:
data_scaled = data.copy()
col_names = ['price']
x = data_scaled[col_names]

In [47]:
scaler = RobustScaler()
 
data_scaled[col_names] = scaler.fit_transform(x.values)
data_scaled

         price  year  weather
0     1.982455  2016     59.0
1     0.189460  2009     52.0
2    -0.630672  2002     45.0
3    -0.706090  2000     49.0
5    -0.346671  2003     50.0
...        ...   ...      ...
7012  0.631871  2015     59.0
7013 -0.411044  2005     50.0
7014 -0.157084  2006     59.0
7015 -0.100221  2011     47.0
7016  0.347870  2010     50.0

[6837 rows x 3 columns]

In [49]:
y = data_scaled['year']
x = data_scaled.drop(columns='year')

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=40)

In [50]:
model = LinearRegression()
model.fit(X_train, y_train)
y_predicted = model.predict(X_test)
 
mae = mean_absolute_error(y_test, y_predicted)
print('MAE: %.3f' % mae)

MAE: 3.041

In [51]:
data_scaled['price'][1]

0.1894603976017671