### Задание 2.4

В аптеку поступают партии лекарств. Их названия находятся в списке names, количество единиц товара находится в списке counts.

Например:
names=['chlorhexidine', 'cyntomycin', 'afobazol']
counts=[15, 18, 7]

Напишите функцию create_medications(names, counts), создающую Series medications, индексами которого являются названия лекарств names, а значениями — их количество в партии counts.
Также напишите функцию get_percent(medications, name), которая возвращает долю товара с именем name от общего количества товаров в партии в процентах.

In [95]:
import pandas as pd

def create_medications(names, counts):
    """
    Напишите функцию create_mediactions(names, counts), которая  создает Series medications,
    индексами которой являются названия лекарств names, а значениями - их количество в поставке counts
    """
    medications = pd.Series(data = counts, index = names, name = 'medications')
    return medications
   

def get_percent(medications, name):
    """
    А также напишите функцию get_percent(medications, name), которая возвращает долю количества товара
    с именем name от общего количества товаров в поставке в процентах.
    """
    s=sum(medications)
    return medications[name]/s*100

if __name__ == '__main__':
    names=['chlorhexidine', 'cyntomycin', 'afobazol']
    counts=[15, 18, 7]
    medications = create_medications(names, counts)
    print(get_percent(medications, "chlorhexidine")) #37.5

37.5

### Задание 3.5

Вы работаете аналитиком в компании ScienceYou. Ваша задача — проанализировать чистую прибыль.
Доходы (income), расходы (expenses) и годы (years), соответствующие им, предоставлены вам в виде списков. 

Например:
income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]

Создайте функцию create_companyDF(income, expenses, years), которая  возвращает DataFrame, составленный из входных данных со столбцами Income и Expenses и индексами, соответствующими годам рассматриваемого периода. Пример такого DataFrame представлен ниже.
	Income 	Expenses
2018 	478 	156
2019 	512 	130
2020 	196 	270

Также напишите функцию get_profit(df, year), которая возвращает разницу между доходом и расходом, записанными в таблице df, за год year. Учтите, что если информация за запрашиваемый год не указана в вашей таблице, вам необходимо вернуть None.

Подсказка
Для проверки вхождения запрашиваемого года в перечень индексов таблицы вам поможет атрибут df.index, который возвращает список индексов таблицы.

In [96]:
import pandas as pd

def create_companyDF(income, expenses, years):
    """
    Создайте функцию create_companyDF(income, expenses, years), которая  возвращает DataFrame, 
    составленный из входных данных со столбцами “Income” и “Expenses” и индексами, соответствующим годам рассматриваемого периода.
    """
    df = pd.DataFrame({
        'Income': income,
        'Expenses': expenses},
        index = years)
    #df = pd.DataFrame(income, expenses, years)
    #print(df)
    return df

def get_profit(df, year):
    
    """
    А также напишите функцию get_profit(df, year), которая возвращает разницу между доходом и расходом, записанных в таблице df, за год year.
    Учтите, что если информация за запрашиваемый год не указана в вашей таблице вам необходимо вернуть None. 
    """
    if year not in df.index : return None
    profit = df.loc[year, 'Income'] - df.loc[year, 'Expenses']
    return profit

if __name__ == '__main__':
    expenses = [156, 130, 270]
    income = [478, 512, 196]
    years = [2018, 2019, 2020]
    
    scienceyou = create_companyDF(income, expenses, years)
    print(get_profit(scienceyou, 2020)) #-74
    print(get_profit(scienceyou, 2040))

-74
None

### Задание 9
Прочитать данные в DataFrame с именем student_data и ответить на следующие вопросы:

9.1 Данные о скольких студентах содержатся в таблице?

9.2 Каков балл по письму у студента под индексом 155?

9.3 Сколько суммарно пропущенных значений в таблице?

9.4 Сколько столбцов в таблице имеет тип данных object?

9.5 Какой объём памяти (в килобайтах) занимает таблица?

9.6 Каков у студентов средний балл по математике?

9.7 Какая расовая группа является самой крупной в учебном заведении?

9.8 Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?

9.9 Сколько студентов получили 0 баллов по математике?

9.10 Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием. В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.

9.11 Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?

9.12 Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C?

In [15]:
import pandas as pd
stud_data = pd.read_csv('data/students_performance.csv', sep=',')
stud_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [21]:
stud_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [17]:
stud_data.shape

(1000, 8)

In [18]:
stud_data.loc[155, 'writing score']

88

In [19]:
stud_data['math score'].mean()

66.089

In [20]:
stud_data['race/ethnicity'].mode()

0    group C
dtype: object

In [39]:
stud_data[stud_data['test preparation course'] == 'completed']['reading score'].mean()

73.89385474860335

In [40]:
stud_data[stud_data['math score'] == 0].count()

gender                         1
race/ethnicity                 1
parental level of education    1
lunch                          1
test preparation course        1
math score                     1
reading score                  1
writing score                  1
dtype: int64

In [53]:
stud_data[stud_data['lunch'] == 'standard']['math score'].mean()

70.03410852713178

In [52]:
stud_data[stud_data['lunch'] == 'free/reduced']['math score'].mean()

58.92112676056338

In [57]:
stud_data['parental level of education'].value_counts(normalize=True)*100

some college          22.6
associate's degree    22.2
high school           19.6
some high school      17.9
bachelor's degree     11.8
master's degree        5.9
Name: parental level of education, dtype: float64

In [62]:
stud_data[stud_data['race/ethnicity'] == 'group A']['writing score'].median() - stud_data[stud_data['race/ethnicity'] == 'group C']['writing score'].mean()

-5.827586206896555